body {
    font-family: "Raleway", sans-serif;
    background-color: #FAF0E1;
    min-width: 100%;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}
  
.flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;   
}
  
.flex-items:nth-child(2) {
    display: block;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.calculadora-header{
    background-color: #EF7EAC;
    color: #FFFFFF;
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
}

.calculadora-header h2{
    font-size: 30px;
}

.calculadora-header h3{
    font-size: 14px;
}


.calculadora-header img{
    float: right;
}

.calculator-content{
    color: #5E2C13;
    padding: 10px;
}

#item-servico img{
    float: left;
    margin: 0px 15px 15px 0px;
}

.valor-servicos{
    font-weight: 700;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
.botoes-servicos {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    gap: 10px;
}

.rozha-one-regular {
    font-family: "Rozha One", serif;
    font-weight: 400;
    font-style: normal;
  }

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}
  
.btn-increment{
    font-family: "Raleway", sans-serif;
    color: #5e2c13;
    background-color: #fff;
    border-radius: 0px 50px 50px 0px;
    border: none;
}
.btn-decrement{
    font-family: "Raleway", sans-serif;
    color: #5e2c13;
    background-color: #fff;
    border-radius: 50px 0px 0px 50px;
    border: none;
}
